body{
    margin: 0;
    background: #2F2E41;
}
nav{
    margin: 71px auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1083px;
    height: 30px;  
}

li ul{
    text-align: center;
}

li{
    display: flex;
    gap: 32px;
    align-items: center;
}
li ul a{
    color: #fff;
    text-decoration: none;
    font-family:JetBrains Mono;
    font-size: 14px;
    
}
main{
    text-align: center;

    width: 1092px;
    height: 283px;
    margin: 101px auto 157px ;

    display: flex;
    justify-content: space-between;
    align-items:stretch;
}

h1{
    margin-top: 0;
    font-family: JetBrains Mono;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
}

span{
    color: #00BFA6;
}

main p{
    font-family: Open Sans;
    font-size: 16px;
    color: #C2C2C2;
}

main strong{
    color: #7D7987;
}

#line{

    border: 1px #00BFA6 solid;
    width: 568px;
    margin: auto;
}

footer{
    text-align: center;
    margin: auto;
    color: #fff;
}

#cadeado{
    position: fixed;
    left: 0;
    bottom: 0;
}

